<table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Raised By</th>
        <th scope="col">Created Date</th>
        <th scope="col">Assigned To</th>
        <th scope="col">Subject</th>
        <th scope="col">Description</th>
        <th scope="col">Current State</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        
        <td>{{tickets.id}}</td>
        <td>{{tickets.raisedBy}}</td>
        <td>{{tickets.createdDate}}</td>
        <td>{{tickets.assignedTo}}</td>
        <td>{{tickets.subject}}</td>
        <td>{{tickets.description}}</td>
        <td>{{tickets.currentState}}</td>
      </tr>
    
    </tbody>
  </table>